// main{
//     // width: 50%;
//     height: 100vh;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     margin: auto;
//     border-top: 1px solid #EEEEEE;
//     border-bottom: 1px solid #EEEEEE;
//     border-left: 1px solid #EEEEEE;
//     border-right: 1px solid #EEEEEE;
//     div{
//         // position: fixed;
//         right: 0;
//         left: 0;
//         margin: auto;
//         text-align: center;
//         font-size: 16px;
//         opacity: 0.9;
//         ul.list_basic_design{
//             display: flex;
//             list-style: none;
//             padding:0;
//             margin:0;
//             width:100%;
//             li {
//                 border-top: 1px solid #EEEEEE;
//                 border-bottom: 1px solid #EEEEEE;
//                 border-left: 1px solid #EEEEEE;
//                 border-right: 1px solid #EEEEEE;
//             }
//             li+ li {
//                 border-top: 0;
//                 border-bottom: 1px solid #EEEEEE;
//                 border-left: 1px solid #EEEEEE;
//                 border-right: 1px solid #EEEEEE;
//             }
//             li{
//                 width:100%;
//                 background-color: #FFFFFF;
//             }
//         }
//     }
// }
// footer {
//     .sp-fixed-menu{
//         position: fixed;
//         width: max(50%, min(100%,500px));
//         bottom: 0;
//         right: 0;
//         left: 0;
//         margin: auto;
//         text-align: center;
//         font-size: 16px;
//         opacity: 0.9;
//         z-index: 99;
//         ul{
//             display: flex;
//             list-style: none;
//             padding:0;
//             margin:0;
//             width:100%;
//             height: 50px;
//             li {
//                 border-top: 1px solid #EEEEEE;
//                 border-left: 1px solid #EEEEEE;
//                 border-right: 1px solid #EEEEEE;
//             }
//             li+ li {
//                 border-left: 0;
//                 border-right: 1px solid #EEEEEE;
//             }
//             li.not_selected {
//                 background-color: #FFFFFF;
//             }
//             li.not_selected :hover{
//                 background-color: #EEEEEE;
//             }
//             li.selected {
//                 background-color: #99CCFF;
//             }
//             li.selected :hover{
//                 background-color: #EEEEEE;
//             }
//             li{
//                 justify-content: center;
//                 align-items: center;
//                 width: 25%;
//                 padding:0;
//                 margin:0;
//                 font-size: 14px;
//                 a{
//                     position: relative;
//                     display: block;
//                     height: 100%;
//                     width: 100%;
//                     div{
//                         position: absolute;
//                         top:50%;
//                         left: 50%;
//                         transform: translate(-50%, -50%);
//                         width: 100%;
//                     }
//                 }
//             }
//         }
//     }
// }
header{
    position: fixed;
    // margin-left:calc(-50vw + 50%);
    z-index: 2;
    height: 70px;
    width: 100vw;
    top: 0px;
    right: 0px;
    left: 0px;
}
main{
    margin-top: 90px;
}
.question_list_div{
    width: min(100%,800px);
}
.question_create_view{
    input[type="radio"] {
        display: none;
    }
    input[type="radio"] + label {
        cursor : pointer;
    }
    input[type="radio"] + label img {
        opacity:0.2;
    }
    input[type="radio"]:checked + label img {
        opacity:1;
    }
}
.error_message{
    font-size: .875em;
    color: #dc3545;
}
.color_thema {
    background-color: #ffad5b;
}
.color_thema_button:hover{
    background-color: #fff;
    border-color: #ffad5b;
    color: #ffad5b;
}
.color_thema_button{
    background-color: #ffad5b;
    color: #fff;
}
.color_header_thema_button:hover{
    background-color: #fff;
    border-color: #ffad5b;
    color: #ffad5b;
}
.color_header_thema_button{
    background-color: #ffad5b;
    color: #fff;
    border-color: #fff;
}
.question_create_button{
    font-size: 70px;
    color: #ffad5b;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: max(15px,5%);
    margin-bottom:  max(15px,5%);
}
.question_create_user_name{
    position: absolute;
    bottom: 10px;
    right: 7px;
}

.return_button{
    font-size: 15px;
    position: absolute;
    top: 70px;
    left: 0px;
    margin-left: 15px;
    margin-top:  85px;
    a{
        color: #ffad5b;
    }
    a:hover{
        color: #ff870f;
    }
}
.button{
    min-width: 180px;
}
.kokuban {
    position: relative;
    margin: 2em auto;
    width: 90%;
    background-color: #006633;
    color: #fff;
    border: 8px solid #b2771f;
    border-radius: 3px;
    box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
    line-height: 2em;
    .kokuban_inn{
        padding: 2.2em 1em 1em;
    }
}
.kokuban_a{
    color: #fff;
    text-decoration: none !important;
}
.kokuban_a:hover    {
    color: #fff;
}

.kokuban::before, .kokuban::after {
    position: absolute;
    content: '';
    bottom: 0;
}

.kokuban::before {
    right: 10px;
    border: solid 3px #fff;
    width: 20px;
    border-radius: 3px 2px 0 2px;
}

.kokuban::after {
    right: 40px;
    border: solid 3px #ffff6b;
    width: 15px;
    border-radius: 8px 5px 2px 5px;
}
.kokuban_title {
    position: absolute;
    top: .2em;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
}
.question_icon_area{
    height:8px
}
.correct_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.error_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.choice_correct_button{
    background-color: #ee8787;
    pointer-events: none;
}
.choice_error_button{
    background-color: #888484;
    pointer-events: none;
    a{
        cursor:default !important;
    }
}
.img_bg_view{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.three_dots{
    position: absolute;
    right: 5px;
    top: 0px;
}
.time_text{
    font-size: 13px;
    color: #e9e6e6;
    position: absolute;
    top: 0px;
    pointer-events: none;
}
.heart_count_icon_in_quesiton.liked{
    .not_liked_icon{
        display: none;
    }
}
.heart_count_icon_in_quesiton.noliked{
    .liked_icon{
        display: none;
    }
}
.js_like_count{
    display: inline-block;
}

.remark_div{
    position: relative;
    span.remark {
        display: none;
    }
    a{
        text-decoration: none !important;
    }
    a:hover span.remark {
        background: none repeat scroll 0 0 #EEFFEE;
        border: 1px solid #CCCCCC;
        color: #000000;
        display: block;
        line-height: 1.2em;
        margin: 0.5em;
        padding: 0.5em;
        position: absolute;
        top: 20px;
        width: 12em;
    }
}

.my_data_area{
    width: 100%;
    height: 250px;
    .name_other_area{
        width: 100%;
        height: 70%;
        display:flex;
        .name_area{
            width: 30%;
            height: 100%;
        }
        .other_area{
            width: 70%;
            height: 100%;
            .top_button_area{
                width: 100%;
                height: 50%;
                margin-left:0% !important;
            }
            .bottom_button_area{
                width: 100%;
                height: 50%;
                margin-left:0% !important;
            }
        }
    }
    .id_area{
        background-color: white;
        width: 100%;
        height: 10%;
    }
    .button_area{
        background-color: blue;
        width: 100%;
        height: 20%;
    }
}
.text_mypage_count{
    font-size: 13px;
    color: #5f5b5b;
}
.mypage_count{
    font-size: 18px;
    color: black;
}
$primary: #0d6efd;
// @import "../node_modules/bootstrap/scss/bootstrap";
